[Unit]
Description=CoreDNS DNS server
Documentation=https://coredns.io
After=network.target etcd.service

[Service]
PermissionsStartOnly=true
LimitNOFILE=1048576
LimitNPROC=512
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
User=root
ExecStart={{ coredns_bin_dir }}/coredns -conf {{ coredns_config_dir }}/Corefile
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target