# Managed by Ansible: Cloud Gateway Configuration

TrustedUserCAKeys /etc/ssh/ca/cloud_ca.pub
AuthorizedPrincipalsFile /etc/ssh/principals/%u

Match User {{ jump_user_name | default('jumpuser') }}
    AllowTcpForwarding yes
    PermitTTY no
    X11Forwarding no
    PermitTunnel no
    AllowAgentForwarding no
    PasswordAuthentication no