network:
  version: 2
  renderer: networkd
  # https://linuxcontainers.org/incus/docs/main/reference/network_ovn/
  # ovn の parent はIPを持ってはいけない 
  dummy-devices:
    {{ uplink_host_if }}:
      mtu: {{ uplink_mtu | default(1500) }}
      optional: false
